:root {
  --primary-color: #FFCB45;
  --secondary-color: #56b6ff;
  --font-color-black: #000000;
  --font-color-white: #ffffff;
  --font-color-primary: #FFCB45;
  --fs-title-1: 36px;
  --fs-title-2: 30px;
  --fs-title-3: 24px;
  --fs-title-4: 20px;
  --fs-title-5: 18px;
  --fs-title-6: 16px;
  --fs-title-7: 15px;
  --fs-1: 20px;
  --fs-2: 18px;
  --fs-3: 16px;
}
